<template lang="pug">
  span.content-management-hint
    | Double&nbsp;click&nbsp
    <br>
    | to&nbspedit&nbsptext
</template>


<script>


export default {
  mounted() {
    const hintMargin = 15;
    window.addEventListener('mousemove', (obj) => {
      this.$el.style.left = `${obj.pageX}px`;
      this.$el.style.top = `${obj.pageY}px`;

      if (obj.pageX + this.$el.clientWidth + hintMargin > window.innerWidth) {
        const ml = this.$el.clientWidth + hintMargin;
        this.$el.style.marginLeft = `-${ml}px`;
      } else {
        this.$el.style.marginLeft = `${hintMargin}px`;
      }

      if (obj.pageY + this.$el.clientHeight + 2 * hintMargin > window.innerHeight) {
        const mt = this.$el.clientHeight + hintMargin;
        this.$el.style.marginTop = `-${mt}px`;
      } else {
        this.$el.style.marginTop = `${hintMargin}px`;
      }
    });
  },
};


</script>
