<!DOCTYPE html>
<html lang="en">
<head>
  {{{ meta.inject().title.text() }}}
  {{{ meta.inject().meta.text() }}}
  {{{ meta.inject().link.text() }}}
</head>
<body>
  <!--vue-ssr-outlet-->
  <div id="contentManageElement"></div>
  <script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/assets/js/contentManage.js" type="module"></script>
  {{{ meta.inject().script.text() }}}
  <noscript><iframe src='https://www.googletagmanager.com/ns.html?id=GTM-NXVS99G' height='0' width='0' style='display:none;visibility:hidden'></iframe></noscript>
</body>
</html>
