<template lang="pug">
  div
    b-form.company-request-form(
      data-unit='company-request',
      data-pageless,
      @submit='onSubmit',
      novalidate=true)
      transition(name='formStepOne')
        .formStepOne(v-if='formStepOneVisible')
          b-form-group
            label.form-simple-label(
              for='emailInput',
              data-key='company-request-short-company-email-label',
              v-text="managed('company-request-short-company-email-label', 'Company email')")
            b-form-input#emailInput(
              type='email',
              v-model='$v.form.formStepOne.email.$model',
              :state='checkStatus($v.form.formStepOne.email.$dirty, $v.form.formStepOne.email.$error)',
              required,
              placeholder='example@mail.com')
            b-form-invalid-feedback(
              v-if='!$v.form.formStepOne.email.required',
              data-key='company-request-short-email-error-required',
              v-text="managed('company-request-short-email-error-required', 'Field is required')")
            b-form-invalid-feedback(
              v-if='!$v.form.formStepOne.email.email',
              data-key='company-request-short-email-error-wrong-format',
              v-text="managed('company-request-short-email-error-wrong-format', 'Enter email in correct format (example@mail.com)')")
          b-form-group
            label.form-simple-label(
              for='phoneInput',
              data-key='company-request-short-company-number',
              v-text="managed('company-request-short-company-number', 'Mobile phone number')")
            b-form-input#phoneInput(
              type='text',
              v-model.trim='$v.form.formStepOne.phone.$model',
              :state='checkStatus($v.form.formStepOne.phone.$dirty, $v.form.formStepOne.phone.$error)',
              required,
              placeholder='+48 XXXX XXXXXX')
            small.text-underinput(
              data-key='company-request-short-phone-description',
              v-text="managed('company-request-short-phone-accept-terms', 'I accept the terms of the offered contract')")
            b-form-invalid-feedback(
              v-if='!$v.form.formStepOne.phone.required',
              data-key='company-request-short-phone-error-required',
              v-text="managed('company-request-short-phone-error-required', 'Field is required')")
            b-form-invalid-feedback(
              v-if='!$v.form.formStepOne.phone.alphaNum',
              data-key='company-request-short-phone-error-format',
              v-text="managed('company-request-short-phone-error-format', 'Must start from +')")
          b-form-group.formStepTwo(v-if="formStepTwoVisible")
            b-form-checkbox#termsAgreed(
              v-model.trim='$v.form.formStepTwo.terms.$model',
              :value='true',
              :unchecked-value='null',
              :state='checkStatus($v.form.formStepTwo.terms.$dirty, $v.form.formStepTwo.terms.$error)',
              required)
              span(
                data-key='company-request-short-terms-agreed',
                v-text="managed('company-request-short-terms-agreed', 'I agree with ')")
              a(
                :href="'https://dzinga.com/file/manual/terms_and_agreements_' + $store.state.lang + '.pdf'",
                target='_blank',
                data-key='company-request-short-terms-agreed-link',
                v-text="managed('company-request-short-terms-agreed-link', 'terms and conditions.')")
          button.button.button__main(
            type='submit',
            variant='primary',
            :disabled="submitStatus === 'PENDING'")
            span(
              v-if="submitStatus != 'PENDING'"
              data-key='company-request-short-button-submit',
              v-text="managed('company-request-short-button-submit', 'Start my free trial')")

            .spinner(v-if="submitStatus === 'PENDING'")
              .bounce1
              .bounce2
              .bounce3
</template>
<script>
import * as Cookies from 'js-cookie';
import { required, email, alpha, helpers } from 'vuelidate/lib/validators';
import LeaveRequest from '../../services/LeaveRequestService';
import contlib from '../ContentSystem/Library/index.vue';

// Validate to: first must be +, just numbers 1-3 country code, numbers and spaces 7-15 chars
const phoneNumber = helpers.regex('alpha', /^[\+][0-9]{1,3}[0-9( )-]{7,15}$/s);

export default {
  props: {
    leadLanguage: {
      type: String,
      default: 'en',
    },
  },
  data() {
    return {
      form: {
        formStepOne: {
          email: '',
          phone: '',
        },
        formStepTwo: {
          terms: null,
        },
      },
      formStepOneVisible: true,
      formStepTwoVisible: false,
      submitStatus: null,
    };
  },
  validations: {
    form: {
      formStepOne: {
        email: {
          required,
          email,
        },
        phone: {
          required,
          alpha: phoneNumber,
        },
      },
      formStepTwo: {
        terms: {
          required,
        },
      },
    },
  },
  asyncData({ store, route, contents, lang }) {
    return { contents, lang };
  },
  created() {
    contlib.created(this.$store.state.contents, this.$store.state.lang);
  },
  methods: {
    changeFinishFormStatus(status) {
      this.$emit('changeFinishFormStatus', status);
    },
    managed(key, value) {
      return contlib.managed(key, value);
    },

    async sendLeaveRequest() {
      function getUtmCookieSafely(key) {
        return Cookies.get(key) ? Cookies.get(key) : null;
      }
      const data = this.form.formStepOne;
      data.terms = this.form.formStepTwo.terms;
      data.leadLanguage = this.leadLanguage;
      data.requestPageUrl = window.location.href;
      data.cookieCountry = Cookies.get('userCountry');
      data.cookieClientId = Cookies.get('_ga') ? Cookies.get('_ga').match(/(\d+\.\d+)$/)[0] : null;
      data.cookieUtmCampaign = getUtmCookieSafely('utm_campaign');
      data.cookieUtmContent = getUtmCookieSafely('utm_content');
      data.cookieUtmMedium = getUtmCookieSafely('utm_medium');
      data.cookieUtmSource = getUtmCookieSafely('utm_source');
      data.cookieUtmTerm = getUtmCookieSafely('utm_term');

      try {
        await LeaveRequest.sendLeaveRequest(data);
        setTimeout(() => {
          this.submitStatus = 'OK';
          this.changeFinishFormStatus(true);
        }, 1500);
      } catch (error) {
        console.log(error);
        this.submitStatus = 'ERROR';
      }
    },
    checkStatus(dirty, error) {
      if (!dirty) {
        return null;
      } else {
        return !error;
      }
    },
    onSubmit(evt) {
      evt.preventDefault();
      this.$v.form.formStepOne.$touch();
      if (this.formStepTwoVisible) {
        this.$v.form.formStepTwo.$touch();
      }
      if (!this.$v.$invalid) {
        // do your submit logic here
        this.sendLeaveRequest();
        this.submitStatus = 'PENDING';
      } else if (!this.$v.form.formStepOne.$error){
        this.formStepTwoVisible = true;
      } else if (this.$v.$invalid) {
        this.submitStatus = 'ERROR';
      }
    },
  },
};
</script>

<style lang="scss"></style>
