<template lang="pug">
  div
    .form-simple
      b-form.leaveRequestForm(
        @submit='onSubmit',
        novalidate=true)
        transition(name='formStep')
          .formStepOne
            b-form-group
              label.col-form-label.pt-0(
                for='nameInput',
                data-key='leave-request-short-name-label',
                v-text="managed('leave-request-short-name-label', 'Full name')")
              b-form-input.nameInput(
                type='text',
                v-model.trim='$v.form.name.$model',
                :state='checkStatus($v.form.name.$dirty, $v.form.name.$error)',
                placeholder='John Doe')
            b-form-group
              label.col-form-label.pt-0(
                for='emailInput',
                data-key='leave-request-short-email-label',
                v-text="managed('leave-request-short-email-label', 'Email address')")
              b-form-input#emailInput(
                type='email',
                v-model='$v.form.email.$model',
                :state='checkStatus($v.form.email.$dirty, $v.form.email.$error)',
                required,
                placeholder='example@mail.com')
              b-form-invalid-feedback(
                v-if='!$v.form.email.required',
                data-key='leave-request-short-email-error-required',
                v-text="managed('leave-request-short-email-error-required', 'Field is required')")
              b-form-invalid-feedback(
                v-if='!$v.form.email.email',
                data-key='leave-request-short-email-error-wrong-format',
                v-text="managed('leave-request-short-email-error-wrong-format', 'Enter email in correct format (example@mail.com)')")
            b-form-group
              label.col-form-label.pt-0(
                for='phoneInput',
                data-key='leave-request-short-company-number',
                v-text="managed('leave-request-short-company-number', 'Company number')")
              b-form-input#phoneInput(
                type='text',
                v-model.trim='$v.form.phone.$model',
                :state='checkStatus($v.form.phone.$dirty, $v.form.phone.$error)',
                required,
                placeholder='+44 XXXX XXXXXX')
              small.form-text.text-muted(
                data-key='leave-request-short-phone-description',
                v-text="managed('leave-request-short-phone-description', 'Verification code will be sent to this phone number')")
              b-form-invalid-feedback(
                v-if='!$v.form.phone.required',
                data-key='leave-request-short-phone-error-required',
                v-text="managed('leave-request-short-phone-error-required', 'Field is required')")
              b-form-invalid-feedback(
                v-if='!$v.form.phone.alphaNum',
                data-key='leave-request-short-phone-error-format',
                v-text="managed('leave-request-short-phone-error-format', 'Must start from +')")
            b-form-group
              label.col-form-label.pt-0(
                for='termsCheckbox',
                data-key='leave-request-short-terms-label',
                v-text="managed('leave-request-short-terms-label', 'Terms and Agreement')")
              b-form-checkbox#exampleInput5(
                v-model.trim='$v.form.terms.$model',
                :state='checkStatus($v.form.terms.$dirty, $v.form.terms.$error)',
                required)
                span(
                  data-key='leave-request-short-terms-agreed',
                  v-text="managed('leave-request-short-terms-agreed', 'I agree with terms and conditions.')")
            b-button(
              type='submit',
              variant='primary',
              :disabled="submitStatus === 'PENDING'")
              span(
                data-key='leave-request-short-button-submit',
                v-text="managed('leave-request-short-button-submit', 'Get an offer')")
            .typo__p(
              v-show="submitStatus === 'OK'",
              data-key='leave-request-short-status-ok-thanks',
              v-text="managed('leave-request-short-status-success-thanks', 'Thanks for your submission!')")
            .typo__p(
              v-show="submitStatus === 'ERROR'",
              data-key='leave-request-short-status-error-fill-all',
              v-text="managed('leave-request-short-status-error-fill-all', 'Please fill the form correctly.')")
            .typo__p(
              v-show="submitStatus === 'PENDING'",
              data-key='leave-request-short-status-pending',
              v-text="managed('leave-request-short-status-pending', 'Sending')")
              .spinner
                .bounce1
                .bounce2
                .bounce3

    b-modal(ref='modalGetReady', hide-cancel, title='Thanks for your request!')
      .text-center
        p(
          data-key='leave-request-short-button-submit',
          v-text="managed('leave-request-short-success-manager', 'Our manager will contact you in a little while.')")
        p(
          data-key='leave-request-short-button-submit',
          v-text="managed('leave-request-short-success-final-slogan', 'Get ready!')")

</template>
<script>
import { required, minLength, maxLength, email, alpha, helpers } from 'vuelidate/lib/validators';
import LeaveRequest from '../../services/LeaveRequestService';
import contlib from '../ContentSystem/Library/index.vue';

// Validate to: first must be +, just numbers 1-3 country code, numbers and spaces 7-15 chars
const phoneNumber = helpers.regex('alpha', /^[\+][0-9]{1,3}[0-9( )-]{7,15}$/s);

export default {
  props: {
    leadLanguage: {
      type: String,
      default: 'en',
    },
  },
  data() {
    return {
      form: {
        name: '',
        company: '',
        email: '',
        phone: '',
        terms: null,
      },
      submitStatus: null,
    };
  },
  validations: {
    form: {
      name: {},
      company: {},
      email: {
        required,
        email,
      },
      phone: {
        required,
        alpha: phoneNumber,
      },
      terms: {
        required,
        //vueledate fix to change $error status on fly
        minLength: minLength(4),
        maxLength: maxLength(4),
      },
    },
  },
  asyncData({ store, route, contents, lang }) {
    return { contents, lang };
  },
  created() {
    contlib.created(this.$store.state.contents, this.$store.state.lang);
  },
  methods: {
    managed(key, value) {
      return contlib.managed(key, value);
    },

    async sendLeaveRequest() {
      const data = this.form;
      data.leadLanguage = this.leadLanguage;
      data.requestPageUrl = window.location.href;

      try {
        LeaveRequest.sendLeaveRequest(data);
        this.showModal();
      } catch (error) {
        console.log(error.response);
        alert('Request Failed!');
      }
    },
    showModal() {
      this.$refs.modalGetReady.show()
    },
    checkStatus(dirty, error) {
      if (!dirty) {
        return null
      } else {
        return !error
      }
    },
    onSubmit (evt) {
      evt.preventDefault();
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = 'ERROR';
      } else {
        // do your submit logic here
        this.sendLeaveRequest();
        this.submitStatus = 'PENDING';

        setTimeout(() => {
          this.submitStatus = 'OK';
        }, 1500)
      }
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
