<template lang="pug">
  .container
    .row
      .col-12
        .form-simple
          b-form(@submit='onSubmit', novalidate=true).leaveRequestForm
            transition(name='formStep')
              .formStepOne
                b-form-group#exampleInputGroup1(label='Full name', label-for='exampleInput1')
                  b-form-input#exampleInput1(type='text', v-model.trim='$v.form.name.$model', :state='checkStatus($v.form.name.$dirty, $v.form.name.$error)', placeholder='John Doe')
                b-form-group#exampleInputGroup2(label='Company name', label-for='exampleInput2')
                  b-form-input#exampleInput2(type='text', v-model='$v.form.company.$model', :state='checkStatus($v.form.company.$dirty, $v.form.company.$error)', placeholder='Company Inc.')
                b-form-group#exampleInputGroup3(label='Email address:', label-for='exampleInput3')
                  b-form-input#exampleInput3(type='email', v-model='$v.form.email.$model', :state='checkStatus($v.form.email.$dirty, $v.form.email.$error)', required, placeholder='example@mail.com')
                  b-form-invalid-feedback(v-if='!$v.form.email.required') Field is required
                  b-form-invalid-feedback(v-if='!$v.form.email.email') Enter email in correct format (example@mail.com)
                b-form-group#exampleInputGroup4(label='Company number:', label-for='exampleInput4', description='Verification code will be sent to this phone number')
                  b-form-input#exampleInput4(type='text', v-model.trim='$v.form.phone.$model', :state='checkStatus($v.form.phone.$dirty, $v.form.phone.$error)', required, placeholder='+44 XXXX XXXXXX')
                  b-form-invalid-feedback(v-if='!$v.form.phone.required') Field is required
                  b-form-invalid-feedback(v-if='!$v.form.phone.alphaNum') Must start from +
                b-form-group#exampleInputGroup5(label='Terms and Agreement', label-for='exampleInput5')
                  b-form-checkbox#exampleInput5(v-model.trim='$v.form.terms.$model', :value='true', :unchecked-value='null', :state='checkStatus($v.form.terms.$dirty, $v.form.terms.$error)', required) I agree with terms and conditions.
                b-button(type='submit', variant='primary', :disabled="submitStatus === 'PENDING'") Get an offer

                .typo__p(v-if="submitStatus === 'OK'") Thanks for your submission!
                .typo__p(v-if="submitStatus === 'ERROR'") Please fill the form correctly.
                .typo__p(v-if="submitStatus === 'PENDING'")
                  span Sending...
                  .spinner
                    .bounce1
                    .bounce2
                    .bounce3

      b-modal(ref='modalGetReady', hide-cancel, title='Thanks for your request!')
        .text-center
          p Our manager will contact you in a little while.
          p Get ready!

</template>
<script>
import * as Cookies from 'js-cookie';
import { required, email, alpha, helpers } from 'vuelidate/lib/validators';
import LeaveRequest from '../../services/LeaveRequestService';

// Validate to: first must be +, just numbers 1-3 country code, numbers and spaces 7-15 chars
const phoneNumber = helpers.regex('alpha', /^[\+][0-9]{1,3}[0-9( )-]{7,15}$/);

export default {
  props: {
    leadLanguage: {
      type: String,
      default: 'en',
    },
  },
  data() {
    return {
      form: {
        name: '',
        company: '',
        email: '',
        phone: '',
        terms: null,
      },
      submitStatus: null,
    };
  },
  validations: {
    form: {
      name: {},
      company: {},
      email: {
        required,
        email,
      },
      phone: {
        required,
        alpha: phoneNumber,
      },
      terms: {
        required,
      },
    },
  },
  methods: {
    async sendLeaveRequest() {
      const data = this.form;
      data.leadLanguage = this.leadLanguage;
      data.requestPageUrl = window.location.href;
      data.cookieCountry = this.$store.state.user.country;
      data.cookieClientId = Cookies.get('_ga') ? Cookies.get('_ga').match(/(\d+\.\d+)$/)[0] : null;
      try {
        LeaveRequest.sendLeaveRequest(data);
        this.showModal();
      } catch (error) {
        console.log(error.response);
        alert('Request Failed!');
      }
    },
    showModal() {
      this.$refs.modalGetReady.show()
    },
    checkStatus(dirty, error) {
      if (!dirty) {
        return null
      } else {
        return !error
      }
    },
    onSubmit (evt) {
      evt.preventDefault();
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = 'ERROR';
      } else {
        // do your submit logic here
        this.sendLeaveRequest();
        this.submitStatus = 'PENDING';

        setTimeout(() => {
          this.submitStatus = 'OK';
        }, 1500)
      }
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
