<template lang="pug">
  .container
    .row
      .col-12
        .form-simple
          b-form(@submit='onSubmit', @reset='onReset')
            transition(name='formStep')
              .formStepOne(v-if='showStepOne')
                b-form-group#exampleInputGroup1(label='Full name', label-for='exampleInput1')
                  b-form-input#exampleInput1(type='text', v-model.trim='$v.name.$model', :state='checkStatus($v.name.$dirty, $v.name.$error)', required='', placeholder='John Doe')
                  b-form-invalid-feedback(v-if='!$v.name.required') Field is required
                  b-form-invalid-feedback(v-if='!$v.name.minLength') Name must have at least {{$v.name.$params.minLength.min}} letters.
                b-form-group#exampleInputGroup2(label='Company name', label-for='exampleInput2')
                  b-form-input#exampleInput2(type='text', v-model='$v.company.$model', :state='checkStatus($v.company.$dirty, $v.company.$error)', required='', placeholder='Company Inc.')
                  b-form-invalid-feedback(v-if='!$v.company.required') Field is required
                b-form-group#exampleInputGroup3(label='Email address:', label-for='exampleInput3')
                  b-form-input#exampleInput3(type='email', v-model='$v.email.$model', :state='checkStatus($v.email.$dirty, $v.email.$error)', required='', placeholder='example@mail.com')
                  b-form-invalid-feedback(v-if='!$v.email.required') Field is required
                b-form-group#exampleInputGroup4(label='Company number:', label-for='exampleInput4', description='Verification code will be sent to this phone number')
                  b-form-input#exampleInput4(type='text', v-model.trim='$v.number.$model', :state='checkStatus($v.number.$dirty, $v.number.$error)', required='', placeholder='+44 XXXX XXXXXX')
                  b-form-invalid-feedback(v-if='!$v.number.required') Field is required
                  b-form-invalid-feedback(v-if='!$v.number.alphaNum') Must start from +
                b-form-group#exampleInputGroup5(label='Password', label-for='exampleInput5')
                  b-form-input#exampleInput5(type='password', v-model='$v.password.$model', :state='checkStatus($v.password.$dirty, $v.password.$error)', required='', placeholder='password')
                  b-form-invalid-feedback(v-if='!$v.password.required') Field is required
                  b-form-invalid-feedback(v-if='!$v.password.minLength') Password must have at least 6 letters.
                b-form-group#exampleInputGroup6(label='Repeat password', label-for='exampleInput6')
                  b-form-input#exampleInput6(type='password', v-model='$v.repeatPassword.$model', :state='checkStatus($v.repeatPassword.$dirty, $v.repeatPassword.$error)', required='', placeholder='password')
                  b-form-invalid-feedback(v-if='!$v.repeatPassword.sameAs') Passwords must be identical.
                b-button(type='button', variant='primary', @click='onSubmitStepOne') Step-Two
                b-button(type='reset', variant='danger') Reset
            b-alert(:show='dismissCountDown', dismissible='', variant='secondary', @dismissed='dismissCountDown=0', @dismiss-count-down='countDownChanged')
              p SMS will be delivered after {{dismissCountDown}} seconds...
              b-progress(variant='secondary', :max='dismissSecs', :value='dismissCountDown', height='6px')
            transition(name='formStep')
              .formStepTwo(v-if='showStepTwo')
                b-form-group#exampleInputGroup7(label='Code', label-for='exampleInput7')
                  b-form-input#exampleInput7(type='text', v-model='code', required='', placeholder='38DOS')
                b-button(type='button', variant='primary', @click='onSubmitStepTwo') Step-One
                b-button(type='reset', variant='danger') Reset

</template>
<script>
import { required, sameAs, minLength, email, alpha, helpers } from 'vuelidate/lib/validators';

const phoneNumber = helpers.regex('alpha', /^[\+][0-9]{1,3}[0-9( )-]{7,15}$/);

export default {
  data() {
    return {
      name: null,
      company: null,
      email: null,
      number: null,
      password: null,
      repeatPassword: null,
      code: null,
      showStepOne: true,
      showStepTwo: false,
      dismissSecs: 16,
      dismissCountDown: 0,
      showDismissibleAlert: false,
    };
  },
  validations: {
    name: {
      required,
      minLength: minLength(4),
    },
    company: {
      required,
    },
    email: {
      required,
      email,
    },
    number: {
      required,
      alpha: phoneNumber,
    },
    password: {
      required,
      minLength: minLength(6),
    },
    repeatPassword: {
      sameAsPassword: sameAs('password'),
    },
  },
  methods: {
    checkStatus(dirty, error) {
      if (!dirty) {
        return null
      } else {
        return !error
      }
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    onSubmit(evt) {
      evt.preventDefault();
      this.showStepOne = false;
      this.showStepTwo = true;
    },
    onSubmitStepOne(evt) {
      evt.preventDefault();
      this.showStepOne = false;
      this.showStepTwo = true;
      this.showAlert();
    },
    onSubmitStepTwo(evt) {
      evt.preventDefault();
      this.showStepOne = true;
      this.showStepTwo = false;
    },
    onReset(evt) {
      evt.preventDefault();
      /* Reset our form values */
      this.name = '';
      this.company = null;
      this.email = '';
      this.number = null;
      this.password = null;
      this.repeatPassword = null;
      this.code = null;
      this.showStepOne = true;
      this.showStepTwo = false;
    },
  },
};
</script>

<style lang="scss" scoped>

  /* Анимации появления и исчезновения могут иметь */
  /* различные продолжительности и динамику.       */

  .formStep-enter {
    max-height: 0 !important;
    opacity: 0;
  }

  .formStep-enter-active {
    transition: all .6s ease-in-out;
    transition-delay: .8s;
  }

  .formStep-enter-to {
    max-height: 100% !important;
  }

  .formStep-leave {
  }

  .formStep-leave-active {
    transition: all .8s ease-in-out;
  }

  .formStep-leave-to {
    max-height: 0 !important;
  }

  .formStep-enter, .formStep-leave-to
    /* .slide-fade-leave-active до версии 2.1.8 */
  {
    opacity: 0;
  }
</style>
