<template lang="pug">
  div
    ul.auth-links(v-if="!auth")
      li
        router-link(to="/admin") Register
      li
        router-link(to="/admin") Login
    ul.auth-links(v-if="auth")
      li
        a(href="javascript:void(0);" @click="logout") Logout
</template>

<style lang="scss" scoped>
ul.auth-links {
  float: right;
  li {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    padding: 5px 16px 5px 19px;
    position: relative;
    &:first-child::after {
      content: "";
      display: block;
      border-right: 1px solid #777;
      width: 2px;
      height: 25px;
      position: absolute;
      right: 0;
      top: 0;
    }
    a {
      font-size: 13px;
      letter-spacing: 0.5px;
    }
  }
}
</style>

<script>
export default {
  methods: {
    async logout() {
      this.$store.dispatch('removeToken');
      window.location.href = '/';
    },
  },
  computed: {
    auth() {
      return this.$store.getters.setToken;
    },
  },
};

</script>
