<!-- Home.vue -->
<template lang="pug">
  .get4TimesMore
    Billboard
    Featches
    Rtb
    Features
    Map
    CallToAction
    Footer
</template>

<script>
import contlib from '../ContentSystem/Library/index.vue';
import Billboard from '../Sections/Billboard.vue';
import Featches from '../Sections/Featches.vue';
import Rtb from '../Sections/Rtb.vue';
import Features from '../Sections/Features.vue';
import CallToAction from '../CallToCation/CallToAction.vue';
import Map from '../Sections/Map.vue';
import Footer from '../Footer/Footer.vue';

const pageTitle = 'Get 4 times more out of your sales budget';
const pageDescription = 'Dzinga helps small and midsized businesses squeeze 4 times more sales out of their cold calling, advertising, and website traffic';

export default {
  name: 'Get4TimesMore',
  components: {
    Billboard,
    Featches,
    Rtb,
    Features,
    CallToAction,
    Map,
    Footer,
  },
  metaInfo: {
    // if no subcomponents specify a metaInfo.title, this title will be used
    title: pageTitle,
    meta: [
      {
        vmid: 'og:title',
        property: 'og:title',
        content: pageTitle,
      },
      {
        vmid: 'description',
        name: 'description',
        content: pageDescription,
      },
      {
        vmid: 'og:description',
        property: 'og:description',
        content: pageDescription,
      },
      {
        vmid: 'keywords',
        name: 'keywords',
        content: 'voip, hosted voip, hosted',
      },
      {
        vmid: 'og:image',
        property: 'og:image',
        content: '/assets/img/favicon/og-image.jpg',
      },
      {
        vmid: 'og:image:width',
        property: 'og:image:width',
        content: '279',
      },
      {
        vmid: 'og:image:height',
        property: 'og:image:height',
        content: '279',
      },
      {
        vmid: 'og:url',
        property: 'og:url',
        content: 'https://Dzinga.com',
      },
    ],
  },

  asyncData({ store, route, contents, lang }) {
    return { contents, lang };
  },
  created() {
    contlib.created(this.$store.state.contents, this.$store.state.lang);
  },

  methods: {
    managed(key, value) {
      return contlib.managed(key, value);
    },
  },
};

</script>

<style lang="scss">
  html, body{
    .get4TimesMore {
      font-family: 'Roboto', 'Open Sans', sans-serif;
      color: #4a4a4a;

      h1, h2, h3 {
        color: #333;
      }

      h1 {
        font-size: 60px;
        line-height: 72px;
        font-weight: 300;
      }
      h2 {
        font-size: 50px;
        line-height: 60px;
        font-weight: 300;
      }

      p {
        font-size: 22px;
      }
    }
  }
</style>
