<template lang="pug">
  .container
    .row
      .col-12
        h1 {{ title }}
        LeaveRequest(:leadLanguage="language")

</template>

<script>
import LeaveRequest from '../Form/LeaveReauest.vue';

export default {
  components: {
    LeaveRequest,
  },
  props: {
    language: {
      type: String,
      default: 'en',
    },
  },
  data() {
    return {
      title: 'Leave Request form',
    };
  },
};
</script>
