<template lang="pug">
  div
    billboard
    testblock
    section
      br
      a(href="/") Home
      | &nbsp;
      router-link(:to="{ name: 'admin' }") Admin Panel
      br
</template>

<script>
import contlib from '../ContentSystem/Library/index.vue';
import billboard from '../Sections/SampleBillboard.vue';
import testblock from '../Sections/SampleBlock.vue';

export default {
  components: {
    billboard,
    testblock,
  },

  asyncData({ store, route, contents, lang }) {
    return { contents, lang };
  },

  created() {
    contlib.created(this.$store.state.contents, this.$store.state.lang);
  },

  methods: {
    managed(key, value) {
      return contlib.managed(key, value);
    },
  },
};
</script>

<style lang="scss" scoped>
  a {
    color: black;
  }
  section, .container {
    max-width: 1150px;
    margin: 0 auto;
    @media (max-width: 1200px) {
      max-width: 996px;
    }
  }
</style>
