<template lang="pug">
  section.container-fluid.billboard(
  data-unit='test-unit')
    h1(
    data-key='title-for-test',
    v-text="managed('title-for-test', 'Title for test')")

</template>

<script>
import contlib from '../ContentSystem/Library/index.vue';

export default {
  asyncData({ store, route, contents, lang }) {
    return { contents, lang };
  },
  mounted() {
    contlib.created(this.$store.state.contents, this.$store.state.lang);
  },

  methods: {
    managed(key, value) {
      return contlib.managed(key, value);
    },
  },
};

</script>
