<template lang="pug">
  section.container-fluid.billboard(
    data-unit='billboard')
    .container
      .row
        .col-lg-8.col-md-12.content-side
          mainLogo(
            dataKey='subtitle-logo',
            text='Cloud platform for business communications',
            img='/assets/img/icons/logo.svg'
          )
          h1
            strong(
              data-key='title-strong-billboard',
              v-text="managed('title-strong-billboard', 'Get 4 times more')")
            br
            span(
              data-key='title-thin-billboard',
              v-text="managed('title-thin-billboard', 'out of your sales budget')")
          p(
            data-key='text-billboard',
            v-text="managed('text-billboard', 'Dzinga helps companies achieve 4 times more sales out of their cold calling, advertising, and website traffic')")

        .col-md-4.d-none.d-lg-block.theme-side
          img(
            src='/assets/img/content/billboard_landing.svg'
            :alt="managed('title-strong-billboard', 'Get 4 times more')")

</template>

<script>
import contlib from '../ContentSystem/Library/index.vue';
import mainLogo from '../common/Main-logo.vue';

export default {
  components: {
    mainLogo,
  },
  asyncData({ store, route, contents, lang }) {
    return { contents, lang };
  },
  created() {
    contlib.created(this.$store.state.contents, this.$store.state.lang);
  },

  methods: {
    managed(key, value) {
      return contlib.managed(key, value);
    },
  },
};

</script>

<style lang="scss" scoped>
  .billboard {
    background: #EFE798;
    overflow: hidden;
    .content-side {
      padding-top: 36px;
      padding-bottom: 100px;
      position: relative;
      z-index: 2;
      h1 {
        margin-top: 40px
      }
      p {
        font-size: 24px;
        line-height: 32px;
        margin-top: 30px;
      }
    }
    .theme-side {
      img {
        position: absolute;
        left: -70px;
        bottom: -103px;
        width: 760px;
      }
    }
  }
</style>
