<template lang="pug">
  section.container.featches-and-request(
    data-unit='featches-and-request')
    .row
      .col-lg-6.featches-list
        h4(
          data-key='title-feachers',
          v-text="managed('title-feachers', 'Free trial includes:')")
        .featches-list-holder
          FeatcheIncluded(
            dataKey='featche-included-250-call-minutes',
            text='250 free international call minutes',
            img='/assets/img/icons/small_international.svg')
          FeatcheIncluded(
            dataKey='featche-included-250-free-sms',
            text='250 free international SMS',
            img='/assets/img/icons/small_sms.svg')
          FeatcheIncluded(
            dataKey='featche-included-call-back-widget',
            text='1 call-back widget',
            img='/assets/img/icons/small_call-back.svg')
          FeatcheIncluded(
            dataKey='featche-included-multi-channel-number',
            text='1 multi-channel phone number',
            img='/assets/img/icons/small_multi.svg')
          FeatcheIncluded(
            dataKey='featche-included-phone number',
            text='1 mobile phone number',
            img='/assets/img/icons/small_mobile.svg')
          FeatcheIncluded(
            dataKey='featche-included-ivr',
            text='Multi-level IVR',
            img='/assets/img/icons/small_ivr.svg')
      .col-lg-6
        .form-simple(id='companyRequest')
          .form-content(v-if='!finishFormStatus')
            h3.form-title(
              data-key='title-form-featches',
              v-text="managed('title-form-featches', 'Get 7-day free trial')")
            .form-subtitle.text-center(
              data-key='subtitle-form-featches',
              v-text="managed('subtitle-form-featches', 'Enter your contact details to start closing more sales today')")
            CompanyRequest(@changeFinishFormStatus="changeFinishFormStatus")
          .form-finished(v-if='finishFormStatus')
            img(
              src='/assets/img/content/leave_request.gif',
              :alt="managed('finished-title-form-featches', 'Thanks for your request!')")
            h3(
              data-key='finished-title-form-featches',
              v-text="managed('finished-title-form-featches', 'Thanks for your request!')")
            .subtitle-text
              div(
                data-key='finished-subtitle-managers-form-featches',
                v-text="managed('finished-subtitle-managers-form-featches', 'Our manager will contact you in a little while.')")
              div(
                data-key='finished-subtitle-getready-form-featches',
                v-text="managed('finished-subtitle-getready-form-featches', 'Get ready!')")
    .row.top-benefits
      .col-md-4
        Feature(
          dataKey='offer-1-feachers',
          subtitle='Up and running in 10 minutes',
          img='/assets/img/icons/simple.svg')
      .col-md-4
        Feature(
          dataKey='offer-2-feachers',
          subtitle='No commitment, cancel anytime',
          img='/assets/img/icons/money.svg')
      .col-md-4
        Feature(
          dataKey='offer-3-feachers',
          subtitle='24/7 multilingual support',
          img='/assets/img/icons/settings.svg')

</template>
<style lang="scss" scoped>
  @import '~bootstrap/scss/functions';
  @import '~bootstrap/scss/variables';
  @import '~bootstrap/scss/mixins/_breakpoints.scss';

  h4 {
    font-weight: 400;
    font-size: 22px;
    line-height: 1;
    margin-top: 20px;
    margin-bottom: 14px;
  }
  .featches-and-request {
    padding-top: 50px;
    padding-bottom: 50px;
    >.row {
      padding: 0 60px;
    }
    .top-benefits {
      margin-top: 70px;
      padding: 0;
      border-top: 1px solid #eaeaea;
    }
  }
  .featches-list {
    max-width: 460px;
    @include media-breakpoint-down(md) {
      max-width: none;
    }
  }
  .form-simple {
    margin-left: 50px;
    max-width: 440px;
    @include media-breakpoint-down(md) {
      max-width: none;
      margin-left: 0;
      margin-top: 20px;
    }
  }
</style>

<script>
import contlib from '../ContentSystem/Library/index.vue';
import CompanyRequest from '../Form/CompanyRequest.vue';
import FormStyles from '../Form/FormStyles.vue';
import Feature from '../common/Feature.vue';
import FeatcheIncluded from '../common/Featche-included.vue';

export default {
  data() {
    return {
      finishFormStatus: false,
    };
  },
  components: {
    CompanyRequest,
    Feature,
    FeatcheIncluded,
  },

  asyncData({ store, route, contents, lang }) {
    return { contents, lang };
  },
  created() {
    contlib.created(this.$store.state.contents, this.$store.state.lang);
  },

  methods: {
    changeFinishFormStatus(status) {
      this.finishFormStatus = status;
    },

    managed(key, value) {
      return contlib.managed(key, value);
    },
  },
};

</script>
