<template lang="pug">
  section.container.all-features(
    data-unit='all-features')
    h2.text-center(
      data-key='title-features',
      v-text='managed("title-features", "Discover our features designed for sales teams")')
    .row
      .col-md-4
        Feature(
          dataKey='item-features-call-back-widget',
          title='Call-back widget',
          text='Double the number of sales calls from your website visitors',
          img='/assets/img/icons/communication.svg')
      .col-md-4
        Feature(
          dataKey='item-features-instant-response',
          title='Instant response',
          text='Close 4 times more web leads by reacting to submissions instantly',
          img='/assets/img/icons/call-back.svg')
      .col-md-4
        Feature(
          dataKey='item-features-exit-intent-detection',
          title='Exit intent detection',
          text='Prevent customers from leaving your website',
          img='/assets/img/icons/exitintent.svg')
      .col-md-4
        Feature(
          dataKey='item-features-local-phone-numbers',
          title='Local phone numbers',
          text='Reach a "cold" prospect in 4 attempts, not 14',
          img='/assets/img/icons/global.svg')
      .col-md-4
        Feature(
          dataKey='item-features-cloud-pbx',
          title='Cloud PBX',
          text='Stop losing customers to busy lines',
          img='/assets/img/icons/communication.svg')
      .col-md-4
        Feature(
          dataKey='item-features-call-recording',
          title='Call recording',
          text='Coach your team through their actual conversations',
          img='/assets/img/icons/voice.svg')
      b-collapse#moreFeatures
        .row
          .col-md-4
            Feature(
              dataKey='item-features-ivr',
              title='IVR', text='Mobile & desktop apps',
              img='/assets/img/icons/ivr_new.svg')
          .col-md-4
            Feature(
              dataKey='item-features-mobile-desktop-apps',
              title='Mobile & desktop apps',
              text='Handle initial customer requests without human participation',
              img='/assets/img/icons/multiple.svg')
          .col-md-4
            Feature(
              dataKey='item-features-voip-calls',
              title='VoIP calls',
              text='Make cheap international calls to any country',
              img='/assets/img/icons/global.svg')
    .row
      .col-12.text-center.mt-5
        button.button.button__gray.wide(
          v-b-toggle="'moreFeatures'",
          data-key='show-all-button-features',
          v-text="managed('show-all-button-features', 'Show me all the features')")

</template>

<style lang="scss">
  .all-features {
    padding-top: 50px;
    padding-bottom: 50px;
    .feature {
      p {
        line-height: 1.25;
        margin: 28px 30px 1rem;
        font-weight: 300;
      }
    }
  }
</style>

<script>
import contlib from '../ContentSystem/Library/index.vue';
import Feature from '../common/Feature.vue';

export default {
  components: {
    Feature,
  },
  asyncData({ store, route, contents, lang }) {
    return { contents, lang };
  },
  created() {
    contlib.created(this.$store.state.contents, this.$store.state.lang);
  },

  methods: {
    managed(key, value) {
      return contlib.managed(key, value);
    },
  },
};

</script>
