<template lang="pug">
  section.container-fluid.map-markers(
    data-unit='map-markers',
    data-pageless)
    .row
      .col-12.map-header.text-center
        .map-header-title.text-white(
          data-key='title-map',
          v-text="managed('title-map', 'We help companies across the EU close more deals')")
    .row
      GmapMap(
        :center='center',
        :zoom='zoom',
        style='width:100%;  height: 70vh;',
        :options='options')
        GmapMarker(
          :key='99',
          :position='marker_uk',
          :icon='markerBig')
        GmapMarker(
          :key='index',
          v-for='(place, index) in markers',
          :position='place.position',
          :icon='markerSmall')

</template>

<style lang="scss" scoped>
  .map-header {
    background: #333;
    color: #fff;
    font-weight: 300;
    padding: 40px 0;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.16);
    position: relative;
    z-index: 2;

    &-title {
      font-size: 36px;
      line-height: 42px;
    }
  }
</style>

<script>
import contlib from '../ContentSystem/Library/index.vue';

const markerBig = '../../../assets/img/icons/marker.svg';
const markerSmall = '../../../assets/img/icons/marker_small.svg';

export default {
  data() {
    return {
      // default to Montreal to keep it simple
      // change this to whatever makes sense
      center: { lat: 52.171522, lng: 0 },
      zoom: 5,
      markerBig: { url: markerBig },
      markerSmall: { url: markerSmall },
      marker_uk: { country: 'UK', lat: 55.550516, lng: -3.221731 },
      markers: [
        {
          position: {
            country: 'Latvia',
            lat: 57.156095,
            lng: 25.813889,
          },
        },
        {
          position: {
            country: 'Lithuania',
            lat: 55.726374,
            lng: 23.881932,
          },
        },
        {
          position: {
            country: 'Czech',
            lat: 49.810483,
            lng: 15.077667,
          },
        },
        {
          position: {
            country: 'Poland',
            lat: 52.95396,
            lng: 18.38291,
          },
        },
        {
          position: {
            country: 'Estonia',
            lat: 58.777885,
            lng: 25.831879,
          },
        },
        {
          position: {
            country: 'Finland',
            lat: 62.430608,
            lng: 26.144312,
          },
        },
        {
          position: {
            country: 'Sweden',
            lat: 63.381931,
            lng: 16.748144,
          },
        },
        {
          position: {
            country: 'Denmark',
            lat: 55.748804,
            lng: 9.860775,
          },
        },
        {
          position: {
            country: 'France',
            lat: 46.937961,
            lng: 2.377005,
          },
        },
        {
          position: {
            country: 'Italy',
            lat: 43.317349,
            lng: 12.508453,
          },
        },
        {
          position: {
            country: 'Spain',
            lat: 39.801772,
            lng: -3.367747,
          },
        },
        {
          position: {
            country: 'Slovakia',
            lat: 48.902304,
            lng: 19.319333,
          },
        },
        {
          position: {
            country: 'Romania',
            lat: 46.034534,
            lng: 24.886837,
          },
        },
        {
          position: {
            country: 'Austria',
            lat: 47.733769,
            lng: 14.08051,
          },
        },
        {
          position: {
            country: 'Belgium',
            lat: 50.679257,
            lng: 4.591652,
          },
        },
        {
          position: {
            country: 'Croatia',
            lat: 45.304688,
            lng: 14.921833,
          },
        },
        {
          position: {
            country: 'Cyprus',
            lat: 35.111359,
            lng: 33.202604,
          },
        },
        {
          position: {
            country: 'Greece',
            lat: 39.621241,
            lng: 22.359116,
          },
        },
        {
          position: {
            country: 'Hungary',
            lat: 47.337116,
            lng: 19.404024,
          },
        },
        {
          position: {
            country: 'Iceland',
            lat: 65.196103,
            lng: -18.630754,
          },
        },
        {
          position: {
            country: 'Ireland',
            lat: 53.368028,
            lng: -8.099769,
          },
        },
        {
          position: {
            country: 'Luxemburg',
            lat: 49.616943,
            lng: 6.131921,
          },
        },
        {
          position: {
            country: 'Malta',
            lat: 35.910119,
            lng: 14.449067,
          },
        },
        {
          position: {
            country: 'Portugal',
            lat: 40.005343,
            lng: -8.441184,
          },
        },
        {
          position: {
            country: 'Slovenia',
            lat: 46.214586,
            lng: 14.580681,
          },
        },
        {
          position: {
            country: 'Switzerland',
            lat: 46.870199,
            lng: 7.799643,
          },
        },
        {
          position: {
            country: 'Norway',
            lat: 62.254869,
            lng: 9.514777,
          },
        },
        {
          position: {
            country: 'Nederlands',
            lat: 52.171522,
            lng: 5.772184,
          },
        },
      ],
      currentPlace: null,
      options: {
        styles: [
          {
            featureType: 'administrative',
            elementType: 'labels.text.fill',
            stylers: [
              {
                color: '#665560',
              },
            ],
          },
          {
            featureType: 'administrative',
            elementType: 'labels.text.stroke',
            stylers: [
              {
                color: '#e6ece6',
              },
              {
                weight: 2,
              },
            ],
          },
          {
            featureType: 'administrative.country',
            elementType: 'geometry.fill',
            stylers: [
              {
                color: '#d24444',
              },
              {
                visibility: 'off',
              },
            ],
          },
          {
            featureType: 'administrative.country',
            elementType: 'geometry.stroke',
            stylers: [
              {
                color: '#dfdfdf',
              },
              {
                weight: 1,
              },
            ],
          },
          {
            featureType: 'administrative.country',
            elementType: 'labels.text',
            stylers: [
              {
                weight: '1',
              },
            ],
          },
          {
            featureType: 'administrative.land_parcel',
            stylers: [
              {
                visibility: 'off',
              },
            ],
          },
          {
            featureType: 'administrative.land_parcel',
            elementType: 'geometry.fill',
            stylers: [
              {
                visibility: 'off',
              },
            ],
          },
          {
            featureType: 'administrative.land_parcel',
            elementType: 'geometry.stroke',
            stylers: [
              {
                visibility: 'off',
              },
            ],
          },
          {
            featureType: 'administrative.locality',
            elementType: 'geometry.fill',
            stylers: [
              {
                visibility: 'off',
              },
            ],
          },
          {
            featureType: 'administrative.neighborhood',
            stylers: [
              {
                visibility: 'off',
              },
            ],
          },
          {
            featureType: 'administrative.neighborhood',
            elementType: 'geometry.fill',
            stylers: [
              {
                color: '#db0e0e',
              },
              {
                visibility: 'off',
              },
            ],
          },
          {
            featureType: 'administrative.neighborhood',
            elementType: 'geometry.stroke',
            stylers: [
              {
                visibility: 'off',
              },
            ],
          },
          {
            featureType: 'administrative.province',
            elementType: 'geometry.fill',
            stylers: [
              {
                color: '#ffffff',
              },
            ],
          },
          {
            featureType: 'administrative.province',
            elementType: 'geometry.stroke',
            stylers: [
              {
                color: '#ffffff',
              },
            ],
          },
          {
            featureType: 'landscape',
            stylers: [
              {
                color: '#f2f2f2',
              },
            ],
          },
          {
            featureType: 'landscape',
            elementType: 'geometry',
            stylers: [
              {
                color: '#f5fcee',
              },
              {
                saturation: 55,
              },
            ],
          },
          {
            featureType: 'road',
            stylers: [
              {
                saturation: -100,
              },
              {
                lightness: 45,
              },
              {
                visibility: 'off',
              },
            ],
          },
          {
            featureType: 'road',
            elementType: 'labels',
            stylers: [
              {
                visibility: 'off',
              },
            ],
          },
          {
            featureType: 'road.arterial',
            elementType: 'labels.icon',
            stylers: [
              {
                visibility: 'off',
              },
            ],
          },
          {
            featureType: 'road.highway',
            stylers: [
              {
                visibility: 'simplified',
              },
            ],
          },
          {
            featureType: 'road.highway',
            elementType: 'geometry.fill',
            stylers: [
              {
                color: '#ffffff',
              },
            ],
          },
          {
            featureType: 'water',
            stylers: [
              {
                visibility: 'on',
              },
            ],
          },
          {
            featureType: 'water',
            elementType: 'geometry.fill',
            stylers: [
              {
                color: '#5a5a69',
              },
            ],
          },
          {
            featureType: 'water',
            elementType: 'labels',
            stylers: [
              {
                visibility: 'off',
              },
            ],
          },
          {
            featureType: 'water',
            elementType: 'labels.text',
            stylers: [
              {
                color: '#000000',
              },
            ],
          },
        ],
        scrollwheel: false,
        disableDefaultUI: true,
      },
    };
  },
  asyncData({ store, route, contents, lang }) {
    return { contents, lang };
  },
  created() {
    contlib.created(this.$store.state.contents, this.$store.state.lang);
  },

  methods: {
    managed(key, value) {
      return contlib.managed(key, value);
    },
  },
};

</script>
