<template lang="pug">
  section.container-fluid.landing-rtb(
    data-unit='landing-rtb')
    .container
      h2.text-center.landing-rtb-title(
        data-key='title-rtb',
        v-text="managed('title-rtb', 'Attract 4 times as many customers with the same budget')")
      .d-flex.flex-row.flex-wrap.justify-content-around
        .landing-rtb-item
          img(
            src='/assets/img/content/rtb-1.svg',
            :alt="managed('text-1-rtb', 'Gain 125% more sales inquiries from your website visitors')")
          p(
            data-key='text-1-rtb',
            v-text="managed('text-1-rtb', 'Gain 125% more sales inquiries from your website visitors')")
        .landing-rtb-item
          img(
            src='/assets/img/content/rtb-2.svg',
            :alt="managed('text-2-rtb', 'Get 4 times better closing rate for web leads')")
          p(
            data-key='text-2-rtb',
            v-text="managed('text-2-rtb', 'Get 4 times better closing rate for web leads')")
        .landing-rtb-item
          img(
            src='/assets/img/content/rtb-3.svg',
            :alt="managed('text-3-rtb', 'Convert web and mobile visits to leads 24/7')")
          p(
            data-key='text-3-rtb',
            v-text="managed('text-3-rtb', 'Convert web and mobile visits to leads 24/7')")
        .landing-rtb-item
          img(
            src='/assets/img/content/rtb-4.svg',
            :alt="managed('text-4-rtb', 'Get 3,5 times more cold calls answered')")
          p(
            data-key='text-4-rtb',
            v-text="managed('text-4-rtb', 'Get 3,5 times more cold calls answered')")
      .row
        .col-12.text-center
          a.button.button__main.wide(
            v-scroll-to="'#companyRequest'",
            data-key='item-4-rtb',
            v-text="managed('item-4-rtb', 'Try 7 days free')")
</template>
<style lang="scss" scoped>
  .landing-rtb {
    padding: 50px 0;
    background: #f7f7f7;
    &-title {
      max-width: 900px;
    }
    &-item {
      max-width: 400px;
      margin-bottom: 50px;
      text-align: center;

      img {
        width: 60%;
      }
      p {
        padding: 30px 0 15px;
        font-size: 26px;
        line-height: 1.3;
        font-weight: 300;
      }
    }
  }
</style>

<script>
import contlib from '../ContentSystem/Library/index.vue';

export default {
  asyncData({ store, route, contents, lang }) {
    return { contents, lang };
  },
  created() {
    contlib.created(this.$store.state.contents, this.$store.state.lang);
  },

  methods: {
    managed(key, value) {
      return contlib.managed(key, value);
    },
  },
};

</script>
