<!-- Home.vue -->
<template lang="pug">
  section.billboard(data-unit="sample-billboard")
    h1(data-key='test-billboard-title', v-text="managed('test-billboard-title', 'Home Sample')")
    h4(data-key='test-billboard-subtitle', v-text="managed('test-billboard-subtitle', 'Enhance productive business communications')")
    p(data-key='test-billboard-text', v-text="managed('test-billboard-text', 'Dzinga offers inexpensive and multifunctional service. Everything your business needs - in a comprehensive cloud-based solution for competitive price.')")
</template>

<style lang="scss" scoped>
  section, .container {
    max-width: 1150px;
    margin: 0 auto;
    @media (max-width: 1200px) {
      max-width: 996px;
    }
  }
  section.billboard {
    background: url('/assets/img/header.png') no-repeat;
    height: 688px;
    padding: 320px 0;

    & h1, h4, p {
      text-align: center;
    }
    h1 {
      line-height: 70px;
      font-size: 55px;
    }
    p {
      margin: 17px auto;
      max-width: 400px;
    }
  }
</style>

<script>
import contlib from '../ContentSystem/Library/index.vue';

export default {

  asyncData({ store, route, contents, lang }) {
    return { contents, lang };
  },

  created() {
    contlib.created(this.$store.state.contents, this.$store.state.lang);
  },

  methods: {
    managed(key, value) {
      return contlib.managed(key, value);
    },
  },
};
</script>
