<!-- Home.vue -->
<template lang="pug">
  section.test-block(data-unit="sample-billboard")
    img(src="/assets/img/test-img.png")
    div.article
      p(data-key='test-block-text-1', v-text="managed('test-block-text-1', 'We are Dzinga - a company of professionals who develop and implement brand new multifunctional communication platforms for businesses.')")

      p(data-key='test-block-text-2', v-text="managed('test-block-text-2', 'Our aim is to create a customised service, in which businesses set up and configure unified platforms as they imagine: using only those communication tools that they need.')")

      p(data-key='test-block-text-3', v-text="managed('test-block-text-3', 'We cater high quality product: we keep up with novelties and telecom trends, add new features to widen your range of tools, manage you call flow and communications with clients.')")

      p(data-key='test-block-text-4', v-text="managed('test-block-text-4', 'We want you to be thinking of strategy, not technical details. The way your business organises communications unavoidably affects your reputation and status and building rapport with clients.')")

      p(data-key='test-block-text-5', v-text="managed('test-block-text-5', 'The other thing we stand on - modern world is evidently entwined with communications. It is everywhere, there are plenty of options and services. Thus we decided all these should be unified and be affordable. That is why we have comparatively lower prices than the majority of companies. Just compare.')")

      p(data-key='test-block-text-6', v-text="managed('test-block-text-6', 'We are an Estonian company successfully operating in the Netherlands, in Estonia, Latvia and Lithuania, in Poland and Czech Republic. We grow to let you grow. Everything is possible.')")

</template>

<style lang="scss" scoped>
  section, .container {
    max-width: 1150px;
    margin: 0 auto;
    @media (max-width: 1200px) {
      max-width: 996px;
    }
  }
  section.test-block {
    display: flex;
    flex-direction: row;
    .article {
      padding: 27px 51px;
    }
  }
</style>

<script>
import contlib from '../ContentSystem/Library/index.vue';

export default {

  asyncData({ store, route, contents, lang }) {
    return { contents, lang };
  },

  created() {
    contlib.created(this.$store.state.contents, this.$store.state.lang);
  },

  methods: {
    managed(key, value) {
      return contlib.managed(key, value);
    },
  },
};
</script>
