<template lang="pug">
  #app
    section.head.head-bot-line
      h1 Admin pannel
      .wide-banner
    section.content(v-if="!auth")
      h2 Registration
      form.form-group(name="register-form" autocomplete="off" novalidate)
        .form-group
          label
            span Email
            input.form-control(type="email" name="email" v-model="email" placeholder="example@mail.com" autocomplete="off" required)
            span.form-text.message(v-html="emailError")
        .form-group
          label
            span Password
            input.form-control(type="password" name="password" v-model="password" placeholder="Passw0rd" autocomplete="off" required)
            span.form-text.message(v-html="passwordError")
        .form-group
          div.error(v-html="error")
        .form-group
          button.btn.btn-success(
          type="button",
          v-on:click="register",
          ) Register
      h2 Authorization
      form.form-group(name="authorization-form" autocomplete="off" novalidate)
        .form-group
          label
            span Email
            input.form-control(type="email" name="email" v-model="email" placeholder="example@mail.com" autocomplete="off" required)
            span.form-text.message(v-html="emailError")
        .form-group
          label
            span Password
            input.form-control(type="password" name="password" v-model="password" placeholder="Passw0rd" autocomplete="off" required)
            span.form-text.message(v-html="passwordError")
        .form-group
          div.error(v-html="error")
        .form-group
          button.btn.btn-success(
          type="button",
          v-on:click="login",
          ) Login
    section.content(v-if="auth")
      h2 Logout
      form.form-group(name="logout-form" autocomplete="off" novalidate)
        .form-group
          button.btn.btn-danger(
          type="button",
          v-on:click="logout",
          ) Logout

</template>

<script>
import AuthenticationService from '../services/AuthenticationService';

export default {
  data() {
    return {
      email: 'vasiliev@dzinga.com',
      password: '12345-as',
      error: null,
      emailError: null,
      passwordError: null,
    };
  },
  watch: {
    email(value) {
      console.log('email has changed', value);
    },
  },
  asyncData ({ contents, lang }) {
    return {contents: contents, lang};
  },
  methods: {
    async register() {
      console.log('register event');
      try {
        await AuthenticationService.register({
          email: this.email,
          password: this.password,
        });
      } catch (error) {
        console.log(error.response);
        switch (error.response.data.error.key) {
          case 'email':
            this.emailError = error.response.data.error.message;
            break;
          case 'password':
            this.passwordError = error.response.data.error.message;
            break;
          default:
            this.error = error.response.data.error.message;
            break;
        }
      }
    },
    async login() {
      this.error = null;
      this.emailError = null;
      this.passwordError = null;
      try {
        const response = await AuthenticationService.login({
          email: this.email,
          password: this.password,
        });
        console.log('success login', response);
        /*Fixme Remove this console log*/
        this.$store.dispatch('setToken', response.data.token);
        //this.$store.dispatch('setUser', response.data.user);
        window.location.href = '/try';
      } catch (error) {
        console.log(error.response);
        switch (error.response.data.error.key) {
          case 'email':
            this.emailError = error.response.data.error.message;
            break;
          case 'password':
            this.passwordError = error.response.data.error.message;
            break;
          default:
            this.error = error.response.data.error.message;
            break;
        }
      }
    },
    async logout() {
      this.$store.dispatch('removeToken');
      window.location.href = '/try';
    },
  },
  computed: {
    auth() {
      return this.$store.getters.setToken;
    },
  },
};
</script>

<style lang="scss" scoped>

  section, .container {
    max-width: 1150px;
    margin: 0 auto;
    @media (max-width: 1200px) {
      max-width: 996px;
    }
  }

  .head {
    margin-bottom: 20px;
    h1 {
      background: url('/assets/img/icon-docs.png') no-repeat;
      width: auto;
      height: 93px;
      margin: 0px 0px;
      padding: 20px 0 20px 120px;
    }
  }

  .head-bot-line {
    border-bottom: 1px solid #e1e3e5;
  }

  .message {
    color: red;
  }

  .content {
    padding: 34px 25px;
    h2 {
      line-height: 50px;
      margin-bottom: 30px;
    }
    p {
      font-size: 19px;
      max-width: 800px;

    }
    p.link {
      font-size: 18px;
      margin-top: 45px;
      margin-bottom: 15px;
      a {
        color: green;
      }
    }
  }

  @media (max-width: 1200px) {
    .wire-box {
      display: none !important;
    }
  }
</style>
