<!-- Home.vue -->
<template lang="pug">
  section
    a(href="/admin") Admin Panel
    br
    a(href="/en/sample") EN
    | &nbsp;
    a(href="/pl/sample") PL
</template>

<style lang="scss" scoped>
  section, .container {
    max-width: 1150px;
    margin: 0 auto;
    @media (max-width: 1200px) {
      max-width: 996px;
    }
  }
  a {
    color: black!important;
  }
</style>

<script>

export default {

};

</script>
