<!-- Home.vue -->
<template lang="pug">
  section
    h2 Dzinga landings website
</template>

<style lang="scss" scoped>
  section, .container {
    max-width: 1150px;
    margin: 0 auto;
    @media (max-width: 1200px) {
      max-width: 996px;
    }
  }
</style>

<script>

export default {

};

</script>
