<!-- Itme.vue -->
<template>
  <div class="content">
    <div>This is Item component</div>
    <div>Item title is: {{ item.title }}</div>
    <div>Language is: {{ language }}</div>
  </div>
</template>

<script>
export default {
  props: {
    language: {
      type: String,
      default: 'en',
    },
  },
  asyncData({ store, route }) {
    // return the Promise from the action
    return store.dispatch('fetchItem', route.params.id)
  },

  computed: {
    // display the item from store state.
    item () {
      return this.$store.state.items[this.$route.params.id][this.$route.params.id]
    }
  }
}
</script>

<style scoped>
.content {
  color: #fff;
  background: red;
}
</style>
