<template lang="pug">
  .container
    .row
      h1 {{ title }}
      .col-12
        b-btn(v-b-modal.modal1='') Open Trial form
        // Modal Component
        b-modal#modal1(title='Form Example' title-tag='h2' size='lg' no-close-on-backdrop hide-footer)
          TrialVersion

</template>

<script>
import TrialVersion from './Form/TrialVersion.vue';

export default {
  components: {
    TrialVersion,
  },
  data() {
    return {
      title: 'Trial version form (in popup)',
    }
  }
}
</script>
