<!-- Home.vue -->
<template>
  <div>
    <div>This is 404 component</div>
  </div>
</template>

<script>

export default {
  asyncData ({ contents, lang }) {
    return {contents: contents, lang};
  },
};

</script>
