<template lang="pug">
  .container
    .row
      .col-12
        h1 Test Page

        button(@click='getIpInfo()') Log my ip info

        div
          b-badge(pill='', variant='primary') Primary
          b-badge(pill='', variant='secondary') Secondary
          b-badge(pill='', variant='success') Success
          b-badge(pill='', variant='danger') Danger
          b-badge(pill='', variant='warning') Warning
          b-badge(pill='', variant='info') Info
          b-badge(pill='', variant='light') Light
          b-badge(pill='', variant='dark') Dark


        div
          b-form(@submit='onSubmit', @reset='onReset', v-if='show')
            b-form-group#exampleInputGroup1(label='Email address:', label-for='exampleInput1', description="We'll never share your email with anyone else.")
              b-form-input#exampleInput1(type='email', v-model='form.email', required='', placeholder='Enter email')
            b-form-group#exampleInputGroup2(label='Your Name:', label-for='exampleInput2')
              b-form-input#exampleInput2(type='text', v-model='form.name', required='', placeholder='Enter name')
            b-form-group#exampleInputGroup3(label='Food:', label-for='exampleInput3')
              b-form-select#exampleInput3(:options='foods', required='', v-model='form.food')
            b-form-group#exampleGroup4
              b-form-checkbox-group#exampleChecks(v-model='form.checked')
                b-form-checkbox(value='me') Check me out
                b-form-checkbox(value='that') Check that out
            b-button(type='submit', variant='primary') Submit
            b-button(type='reset', variant='danger') Reset

</template>

<script>
import * as Cookies from 'js-cookie';
import UserInfoService from '../services/UserInfoService';

export default {
  data() {
    return {
      form: {
        email: '',
        name: '',
        food: null,
        checked: [],
      },
      foods: [
        {
          text: 'Select One',
          value: null,
        },
        'Carrots', 'Beans', 'Tomatoes', 'Corn',
      ],
      show: true,
    };
  },
  methods: {
    async getIpInfo() {
      console.log('TestPage.vue:62', Cookies.get('_ga'));
      console.log('TestPage.vue:58', this.$store);
      this.$store.dispatch('setUserCountry', 'TEST');
      try {
        const response = await UserInfoService.userIpInfo();
        console.log('IP SUCCESS', response.data.ipinfo);
      } catch (error) {
        console.log(error.response);
        alert('Request Failed!');
      }

    },
    onSubmit(evt) {
      evt.preventDefault();
      alert(JSON.stringify(this.form));
    },
    onReset(evt) {
      evt.preventDefault();
      /* Reset our form values */
      this.form.email = '';
      this.form.name = '';
      this.form.food = null;
      this.form.checked = [];
      /* Trick to reset/clear native browser form validation state */
      this.show = false;
      this.$nextTick(() => { this.show = true; });
    },
  },
};
</script>
