<template lang="pug">
  footer.footer(
    data-unit='footer-main',
    data-pageless)
    .container.text-white
      .row.footer-top-side
        .col-6.footer-logo
          img(src='/assets/img/icons/logo.svg')
        .col-6.text-right.footer-phone
          a(href='tel:+48124465265')
            span(
              data-key='footer-number-code-poland',
              v-text="managed('footer-number-code-poland', '+48 (12) ')")
            strong(
              data-key='footer-number-main',
              v-text="managed('footer-number-main', '446 52 65')")
      .row.footer-down-side
        .col-lg-8.col-md-12.footer-address-holder.nopadding
          p(
            data-key='footer-address-1',
            v-text="managed('footer-address-1', 'SmartTel Plus OÜ Królewska 65A/1,')")
          p(
            data-key='footer-address-2',
            v-text="managed('footer-address-2', '30-081 Kraków, Poland')")
          .footer-email-holder
            a(href='mailto:sales@dzinga.com') sales@dzinga.com
            a(href='mailto:support@dzinga.com') support@dzinga.com
            a(href='mailto:info@dzinga.com') info@dzinga.com
        .col-lg-4.col-md-12.footer-licenses
          .footer-licenses-holder
            p(
              data-key='footer-docs-and-license',
              v-text="managed('footer-docs-and-license', 'Documents and Liсense:')")
            a.button.button_footer(
              size='lg',
              variant='outline-secondary',
              :href="'https://dzinga.com/file/manual/terms_and_agreements_' + $store.state.lang + '.pdf'",
              target='_blank',
              data-key='footer-docs-and-license-read',
              v-text="managed('footer-docs-and-license-read', 'Read')")
    .footer-underfooter
      .container
        p(
          data-key='footer-rights-reserved',
          v-text="managed('footer-rights-reserved', '© 2018 Dzinga Inc. All rights reserved.')")
</template>

<style lang="scss" scoped>
  @import '~bootstrap/scss/functions';
  @import '~bootstrap/scss/variables';
  @import '~bootstrap/scss/mixins/_breakpoints.scss';
  .footer {
    background: #333333;
    &-top-side {
      padding: 22px 10px;
      border-bottom: 1px solid #979797;
    }
    &-down-side {
      padding: 28px 10px;
      @include media-breakpoint-down(md) {
        text-align: center;
      }
    }
    &-address-holder {
      font-weight: 300;
      align-items: center;
      p {
        font-size: 16px;
        line-height: 24px;
        margin: 0;
      }
    }
    &-email-holder {
      padding-top: 12px;
      font-size: 22px;
      font-weight: 500;
      @include media-breakpoint-down(sm) {
        font-size: 3vw;
      }

      a {
        color: #fff;
        &:after {
          padding: 0 6px;
          content: '|';
        }
        &:last-child {
          &:after {
            content: none;
          }
        }
      }
    }
    &-licenses {
      &-holder {
        float: right;
        text-align: left;
        @include media-breakpoint-down(md) {
          float: none;
          text-align: center;
          margin-top: 30px;
        }
      }
      p {
        font-size: 16px;
        font-weight: 300;
      }
    }

    &-logo {
      padding: 0;
      img {
        width: 142px;
      }
    }
    &-phone {
      font-size: 22px;
      line-height: 24px;
      font-weight: 300;
      color: #ffffff;
      a {
        color: #ffffff;
      }
      strong {
        font-weight: 500;
      }
    }
    &-underfooter {
      background: #000;
      padding: 10px;
      p {
        color: #9b9b9b;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 0;
      }
    }
  }
</style>

<script>
import contlib from '../ContentSystem/Library/index.vue';

export default {
  props: {
    language: {
      type: String,
      default: 'en',
    },
  },
  asyncData({ store, route, contents, lang }) {
    return { contents, lang };
  },
  created() {
    contlib.created(this.$store.state.contents, this.$store.state.lang);
  },

  methods: {
    managed(key, value) {
      return contlib.managed(key, value);
    },
  },
};

</script>
