<template lang="pug">
  .featche(
    data-unit='featche-item',
    data-pageless)
    .featche-img-holder.rounded-circle
      img(:src='img', :alt='managed(dataKey+"-text", text)')
    p(:data-key='dataKey+"-text"', v-text='managed(dataKey+"-text", text)')

</template>

<style lang="scss" scoped>
  .featche {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid rgba(151,151,151,.22);

    padding: 16px 50px 16px 0;

    &:last-child {
      border-bottom: none;
    }
    &-img-holder {
      display: flex;
      margin-right: 26px;
      background: #4a4a4a;
      padding: 11px;
      align-items: center;

      img {
        width: 18px;
        height: 18px;
      }
    }
    p {
      font-weight: 300;
      margin: 0;
      text-align: left;
    }
  }
</style>

<script>
import contlib from '../ContentSystem/Library/index.vue';

export default {
  name: 'Feature',
  props: {
    dataKey: {
      type: String,
      required: true,
    },
    text: {
      type: String,
      required: true,
    },
    img: {
      type: String,
      required: true,
    },
  },
  asyncData({ store, route, contents, lang }) {
    return { contents, lang };
  },
  created() {
    contlib.created(this.$store.state.contents, this.$store.state.lang);
  },

  methods: {
    managed(key, value) {
      return contlib.managed(key, value);
    },
  },
};

</script>
