<template lang="pug">
  .feature(
    data-unit='feature-item',
    data-pageless)
    .feature-img-holder.rounded-circle
      img(:src='img',
        :alt='managed(dataKey+"-title", title)||managed(dataKey+"-subtitle", subtitle)||managed(dataKey+"-text", text)',
        :width='width',
        :height='height')
    .feature-title(
      v-if='title',
      :data-key='dataKey+"-title"',
      v-text='managed(dataKey+"-title", title)')
    .feature-subtitle(
      v-if='subtitle',
      :data-key='dataKey+"-subtitle"',
      v-text='managed(dataKey+"-subtitle", subtitle)')
    p(
      v-if='text'
      :data-key='dataKey+"-text"',
      v-text='managed(dataKey+"-text", text)')

</template>

<style lang="scss" scoped>
  .feature {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    &-img-holder {
      padding: 20px;
      background: #f7f7f7;
    }
    &-title {
      font-size: 28px;
      line-height: 1;
      color: #4a4a4a;
      padding-top: 16px;
    }
    &-subtitle {
      font-size: 22px;
      line-height: 1;
      font-weight: 300;
      color: #4a4a4a;
      padding-top: 16px;
    }
    &-img-holder {
      text-align: center;
    }
  }
</style>

<script>
import contlib from '../ContentSystem/Library/index.vue';

export default {
  name: 'Feature',
  props: {
    dataKey: {
      type: String,
      required: true,
    },
    title: String,
    subtitle: String,
    text: String,
    img: {
      type: String,
      required: true,
    },
    width: {
      type: String,
      default: '64px',
    },
    height: {
      type: String,
      default: '64px',
    },
  },
  asyncData({ store, route, contents, lang }) {
    return { contents, lang };
  },
  created() {
    contlib.created(this.$store.state.contents, this.$store.state.lang);
  },

  methods: {
    managed(key, value) {
      return contlib.managed(key, value);
    },
  },
};

</script>
