<template lang="pug">
  .main-logo(
    data-unit='main-logo',
    data-pageless)
    img(
      :src='img'
      :alt='managed(dataKey, text)')
    span(
      :data-key='dataKey',
      v-text='managed(dataKey, text)')
</template>

<script>
import contlib from '../ContentSystem/Library/index.vue';

export default {
  name: 'Feature',
  props: {
    dataKey: {
      type: String,
      required: true,
    },
    text: {
      type: String,
      required: true,
    },
    img: {
      type: String,
      required: true,
    },
  },
  asyncData({ store, route, contents, lang }) {
    return { contents, lang };
  },
  created() {
    contlib.created(this.$store.state.contents, this.$store.state.lang);
  },

  methods: {
    managed(key, value) {
      return contlib.managed(key, value);
    },
  },
};

</script>

<style lang="scss" scoped>
  .main-logo {
    img {
      width: 200px;
    }
    span {
      font-size: 10px;
      line-height: 12px;
      padding: 6px 2px 0 0;
      display: block;
    }
  }
</style>
