<template lang="pug">
  .languages(v-if="load" :class="type")
    a(href="javascript:void(0);" @click="open =! open" :class="{ active: open }") Languages
    ul(v-show="langauges.length === 0").open
      li No languages to show.
    transition(name="slide")
      ul(v-show="open || type === 'backend'" :class="{ active: open }")
        li(v-for="language in langauges")
          a(href="javascript:void(0);", @click="tab(language)", :class="language?'active':''") {{ language }}
</template>

<style lang="scss">
  .languages {
    &.backend, &.backend ul {
      margin-bottom: 0;
      padding-left: 0;
      vertical-align: middle;
      >a { display: none; }
      li {
        display: inline;
        list-style-type: none;
        margin: 3px;
        a {
          border: 0;
          cursor: pointer;
          background: lightgray;
          padding: 4px 22px;
          color: black;
          text-transform: uppercase;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;

        }
      }
    }
    &.frontend {
      position:absolute;
      background: #35464E;
      border: none;
      z-index: 1001;
      padding: 2px 10px 4px;
      li {
        display: block;
        a {
          background: none;
        }
      }
      @media screen and (min-width: 992px) {
        .slide-leave-active,
        .slide-enter-active {
          //transition: 1s;
          transition: all .3s cubic-bezier(.65, .05, .36, 1);
        }
        .slide-enter {
          height: 0;
        }
        .slide-leave-to {
          height: auto;
        }
      }
    }
  }
</style>

<script>
import SiteInfoService from '../../services/SiteInfoService';

export default {
  props: {
    type: {
      type: String,
      required: true,
    },
    languages: {
      type: Array,
    }
  },

  data() {
    return {
      load: false,
      open: false,
      promise: false,
    };
  },

  methods: {
    tab(id) {
      this.$emit('tab', id)
    },
  },

  created() {
    this.language = false;
    if (this.languages === undefined) {
      this.language = SiteInfoService.languages();
      this.promise = true;
    } else {
      this.language = this.languages;
      this.load = true;
    }
  },

  mounted() {
    if (this.promise) {
      this.language.then((res) => {
        this.language = res.data;
        this.load = true;
      }).catch((err) => {
      });
    } else {
      this.load = true;
    }
  },

  computed: {
    langauges() {
      return this.language;
    }
  },

};
</script>
