<template>
  <div id="app" :data-page="page">
    <main>
      <transition>
        <keep-alive>
          <router-view></router-view>
        </keep-alive>
      </transition>
    </main>
    <div id="contentManageElement" :auth-token="token" :site-lang="lang"></div>
    <contentManagePopup/>
    <contentHint/>
  </div>
</template>

<script>
import * as Cookies from 'js-cookie';
import contentManagePopup from './components/ContentSystem/Popup/index.vue';
import contentHint from './components/ContentSystem/EditHint.vue';
import UserInfoService from './services/UserInfoService';

const gtmData = `
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-NXVS99G');
`;

export default {
  components: {
    contentManagePopup,
    contentHint,
  },
  name: 'app',
  props: {
    language: {
      type: String,
      default: 'en',
    },
  },
  metaInfo: {
    // if no subcomponents specify a metaInfo.title, this title will be used
    title: 'Dzinga',
    // all titles will be injected into this template
    titleTemplate: '%s | Dzinga',
    meta: [
      { charset: 'utf-8' },
      {
        name: 'viewport',
        content: 'width=device-width, initial-scale=1',
      },
      {
        vmid: 'og:title',
        property: 'og:title',
        content: 'Dzinga',
      },
      {
        vmid: 'description',
        name: 'description',
        content: 'Default Description',
      },
      {
        vmid: 'og:description',
        property: 'og:description',
        content: 'Default Description',
      },
      {
        vmid: 'keywords',
        name: 'keywords',
        content: 'default, keywords',
      },
      {
        vmid: 'og:image',
        property: 'og:image',
        content: '/assets/img/favicon/og-image.jpg',
      },
      {
        vmid: 'og:image:width',
        property: 'og:image:width',
        content: '279',
      },
      {
        vmid: 'og:image:height',
        property: 'og:image:height',
        content: '279',
      },
      {
        vmid: 'og:url',
        property: 'og:url',
        content: 'https://Dzinga.com',
      },
    ],
    script: [
      {
        innerHTML: gtmData,
        type: 'text/javascript',
        body: true,
      },
    ],
    link: [
      {
        rel: 'apple-touch-icon',
        size: '180x180',
        href: '/assets/img/favicon/apple-touch-icon.png',
      },
      {
        rel: 'icon',
        type: 'image/png',
        size: '32x32',
        href: '/assets/img/favicon/favicon-32x32.png',
      },
      {
        rel: 'icon',
        type: 'image/png',
        size: '16x16',
        href: '/assets/img/favicon/favicon-16x16.png',
      },
      {
        rel: 'manifest',
        href: '/assets/img/favicon/site.webmanifest',
      },
      {
        rel: 'mask-icon',
        href: '/assets/img/favicon/safari-pinned-tab.svg',
        color: '#6de022',
      },
      {
        rel: 'shortcut icon',
        href: '/assets/img/favicon/favicon.ico',
      },
      {
        name: 'msapplication-TileColor',
        color: '#ffffff',
      },
      {
        name: 'msapplication-config',
        content: '/assets/img/favicon/browserconfig.xml',
      },
      {
        name: 'theme-color',
        content: '#ffffff',
      },
    ],
  },
  /**
    * Because the actual rendering process needs to be deterministic, we will
    * also be "pre-fetching" data on the server - this means our application
    * state will be already resolved when we start rendering. This means data
    * reactivity is unnecessary on the server, so it is disabled by default.
    * Disabling data reactivity also avoids the performance cost of converting
    * data into reactive objects. https://ssr.vuejs.org/guide/universal.html
    */
  asyncData ({ store, route, contents, lang }) {
    // return the Promise from the action
    return {contents: contents, lang};
  },

  computed: {
    // display the item from store state.
    item() {
      return { title: 'X' };
      //return this.$store.state.items
    },

    route() {
      return this.$store.state.route;
    },

    page() {
      const route = this.$store.state.route;
      const lang = this.$store.state.lang;
      let name = 'home';
      try {
        name = route.name.replace(`-${lang}`, '');
        console.log('App.vue:172', name);
      } catch(err) { // suppress no replace error
      }
      return name;
    },

    auth() {
      return this.$store.getters.setToken;
    },

    token() {
      return this.$store.state.token;
    },

    lang() {
      return this.$store.state.lang;
    },
  },
  async mounted() {
    const cookiesOptions = {
      path: '/',
      expires: 45,
    };
    if (!Cookies.get('userCountry')) {
      const response = await UserInfoService.userIpInfo();
      Cookies.set('userCountry', (response.data.ipinfo.country || 'unknown').toLowerCase(), cookiesOptions);
    }
  },


};
</script>

<style lang="scss">
/**
common styles file
*/

  @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Open+Sans|Roboto:300,400,700');
  @import url('https://unpkg.com/ionicons@4.4.4/dist/css/ionicons.min.css');

  html, body {
    font-family: 'Montserrat', 'Open Sans', 'Roboto', sans-serif;
  }
  body {
    a {
      /*color: white;*/
      color: #3eca04;
      text-decoration: none!important;
      &:hover, &:visited {
        /*color: white;*/
        color: #3b9a00;
      }
    }

    .content-management-mouseover {
      outline: 1px dashed rgba(78,205,0,.65);
      cursor: default;
    }
    .content-management-select {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }
    .content-management-hint {
      display: none;
      position: absolute;
      visibility: hidden;
      background-color: rgba(0,0,0,0);
      color: #fff;
      border-radius: 5px;
      margin: 15px;
      padding: 5px;
      width: auto;
      z-index: 9999999;
    }
    .content-management-hint.active {
      visibility: visible;
      display: block;
      background-color: rgba(78,205,0,.65) !important;
      -webkit-transition: background-color 500ms linear;
      -ms-transition: background-color 500ms linear;
      transition: background-color 500ms linear;
    }

    .button {
      cursor: pointer;
      display: inline-block;
      text-decoration: none;
      font-weight: 700;
      font-size: 20px;
      min-height: 50px;
      border-radius: 3px;
      text-align: center;
      transition: all .2s ease-in-out;
      padding: 10px 40px;
      max-width: 400px;
      border: 1px solid transparent;
      &:focus {
        outline: none;
      }

      & + .button {
        margin-left: 30px;
      }

      &.wide {
        min-width: 320px;
      }
      &__main {
        background: #4ECD00;
        color: #fff!important;
        &:hover, &:focus {
          box-shadow: 0 2px 8px 0 rgba(62,163,0,.64);
          color: #fff;
        }
        &:active {
          background: #3fa300;
          color: #fff;
        }
      }

      &__gray {
        background: #fff;
        color: #333333;
        border: 1px solid #D8D8D8;
        &:hover {
          border: 1px solid #333333;
        }
      }
      &_footer {
        min-width: 192px;
        color: #9b9b9b !important;
        border-color: #9b9b9b;
        padding: 10px 10px;
        &:hover, &:active {
          background: hsla(0,0%,62%,.1);
          color: #9b9b9b;
        }
        &:focus {
          color: #9b9b9b;
          box-shadow: none;
        }
      }
    }
  }

  main {
    width: 100%;
  }

  h1 {
    font-size: 49px;
    margin: 14px 2px;
    @media (max-width: 1200px) {
      font-size: 30px;
    }
  }

  h3 {
    color: #4a4a4a;
    padding-top: 16px;
    font-size: 28px;
    line-height: 1;
  }


.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
</style>
