<template lang="pug">
  section.container-fluid.text-center.call-to-action(
    data-unit='call-to-action',
    data-pageless)
    .call-to-action-title(
      data-key='title-call-to-action',
      v-text="managed('title-call-to-action', 'Start selling 4 times better today')")
    p(
      data-key='text-call-to-action',
      v-text="managed('text-call-to-action', '10-minute setup. No credit card required. Cancel anytime.')")
    a.button.button__main.wide(
      v-scroll-to=("'#companyRequest'"),
      size='lg',
      variant='success',
      data-key='button-call-to-action',
      v-text="managed('button-call-to-action', 'Start your 7-day free trial')")
</template>

<style lang="scss" scoped>
  .call-to-action {
    background: #EFE798;
    padding: 40px 0 60px;
    border-top: 1px solid #4a4a4a;

    &-title {
      font-size: 64px;
      line-height: 75px;
      font-weight: 300;
      color: #000;
    }
    p {
      margin-top: 12px;
      font-weight: 300;
    }
  }
</style>

<script>
import contlib from '../ContentSystem/Library/index.vue';

export default {
  asyncData({ store, route, contents, lang }) {
    return { contents, lang };
  },
  created() {
    contlib.created(this.$store.state.contents, this.$store.state.lang);
  },

  methods: {
    managed(key, value) {
      return contlib.managed(key, value);
    },
  },
};

</script>
