<template lang="pug">
  .modal.show.content-management-popup#myModal(role="dialog")
    .modal-dialog.modal-lg(v-if="load")
      .modal-content
        .modal-header
          languageBar(type="backend" :languages="languagesRes" @tab="tab")
          button.close(type="button", @click="close" data-dismiss="modal") &times;
        .modal-body
          textarea.content-management-popup-textarea(v-for="(v, id) in languages" :data-id="id" :style="taStyle(id)")
        .modal-footer
          span.message-area
          div.buttons
            button.btn.btn-warn(type="button", @click="close", data-dismiss="modal") Cancel
            button.btn.btn-success.content-management-popup-confirm-btn(type="button") Save
</template>

<style lang="scss">
  .content-management-popup {
    display: none;
    &::before {
      content: "";
      display: block;
      background: black;
      opacity: 0.7;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    &.activate {
      display: block !important;
    }
    textarea {
      width: 100%;
      height: 250px;
      font-size: 16px;
      padding: 10px;
      background-position: center center;
      background-repeat: no-repeat;
      display: none;
      &.active {
        display: block;
      }
    }
    .buttons * {
      margin: 0 5px;
      width: 100px;
    }
    .message-area {
      &.danger {
        color: red;
      }
    }
    .modal-header {
      padding: 20px 20px 0;
    }
    .modal-footer {
      justify-content: space-between !important;
    }
  }
</style>

<script>
import SiteInfoService from '../../../services/SiteInfoService';
import languageBar from '../../LanguagesWidget/index.vue';

export default {
  components: {
    languageBar,
  },

  data() {
    return {
      show: false,
      load: false,
      languagesData: {},
    }
  },

  methods: {
    close() {
      this.$el.classList.remove('activate');
    },

    taStyle(langauge){
      return `background-image:url(\"data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='70px' width='120px'><text x='20' y='55' fill='lightgray' font-size='80'>${langauge}</text></svg>\");`;
    },

    tab(id) {
      this.languagesData[id] = 1;
      this.$el.querySelectorAll(`.content-management-popup-textarea`).forEach((el) => {el.classList.remove('active');});
      this.$el.querySelector(`.content-management-popup-textarea[data-id="${id}"]`).classList.add('active');
    }
  },

  created() {
    this.languagesRes = SiteInfoService.languages();
  },

  mounted() {
    this.languagesRes.then((res) => {
      this.languagesRes = res.data;
      let current = null;
      this.languagesRes.forEach((el) => {
        //if (!current) current = el;
        this.languagesData[el] = 0;
      });
      current = this.lang;
      this.languagesData[current] = 1;
      this.load = true;
      function timeout(el) {
        setTimeout(function() {
          const areas = el.querySelectorAll(`textarea`);
          if (areas.length) {
            el.querySelector(`textarea[data-id="${current}"]`).classList.add('active');
          } else {
            timeout(el);
          }
        }, 5);
      }
      timeout(this.$el);
    });
  },

  computed: {
    languages() {
      return this.languagesData;
    },
    lang() {
      return this.$store.state.lang;
    },
  },
};
</script>
